/* Link al FIGMA:
    https://www.figma.com/file/Hadvu6ANTCtrqPgHQVHJkd/Untitled?node-id=0%3A1&t=VXz3nLSNG1SBiKhF-1
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&family=Roboto:wght@300;400;500&family=Titan+One&display=swap');

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Titan One', cursive; */

/* NORMALIZE */

:root {
    --primary: #FC4C69;
    --accent: #0091AD;
    --text: #2b2b2b;
    --bg-dark: #65605F;
    --bg-light: #FDFFFC;

    --raleway: 'Raleway', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --titan: 'Titan One', sans-serif;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    color: var(--text);
    font-family: var(--roboto);
}

h1, h2, h3, h4, h5, h6 {
    font-size: 3.6em;
}

p {
    font-size: 1.6em;
}

a {
    font-size: 2.2em;
    color: #2b2b2b;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%
}

/* UTILITARIES */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.text-right {
    text-align: right;
}

.section-title {
    color: var(--primary);
    font-size: 6.5em;
    font-family: var(--titan);
    font-weight: 500;
}

/* HEADER */

header {
    background-color: var(--text);
    padding: 3rem;
}

header .navbar {
    display: flex;
    justify-content: space-between;
}

header .navbar__menu {
    display: flex;
    align-items: center;
    gap: 8rem;
}

header .navbar__link {
    color: var(--bg-light);
}

/* BANNER */

.banner {
    display: flex;
    align-items: center;
    padding: 8rem 0;
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner .banner__title {
    font-size: 6.5em;
    line-height: 100px;
    color: var(--primary);
    font-family: var(--titan);
    font-weight: 500;
    flex-basis: 60%;
}

/* SECTIONS */

.home-section {
    max-width: 80%;
    margin: 16rem auto;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.home-section p {
    color: var(--bg-dark);
    font-size: 2.8em;
    font-family: var(--roboto);
    text-align: center;
}

.home-section a {
    color: var(--bg-dark);
    font-size: 2.2em;
    font-family: var(--roboto);
    text-align: center;
    padding: 2rem;
    transition: all .5s ease;
}

.home-section a:hover {
    color: var(--primary);
    animation: rotate linear .8s 1;
}

/* LAST TRAVELS */

#last-travels {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 15rem;
}

#last-travels h2{
    flex: 0 0 100%;
    margin-bottom: 6rem;
}

#last-travels article{
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
}

.travels__card--horizontal {
    display: flex;
    gap: 3rem;
}

.travels__title {
    font-size: 3.2rem;
}

.travels__subtitle {
    font-size: 2rem;
    font-weight: 500;
    color: var(--accent);
    margin-bottom: 1rem;
}

.travels__text {
    font-size: 2rem;
    font-weight: 400;
    color: var(--text);
    margin-bottom: 2rem;
}

.travels__link {
    font-size: 2rem;
    font-weight: 400;
    color: var(--primary);
}

/* FOOTER */

footer {
    margin-top: 4rem;
    background-color: var(--text);
    padding: 9rem 2rem 4rem;
}
  
footer section {
    margin: auto;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
footer section picture {
    max-width: 300px;
}
  
footer section picture img {
   width: 100%;
}
footer section .navbar__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    gap: 0.2rem;
}

footer section .navbar__list--link {
    font-family: "Raleway", sans-serif;
    font-weight: 1.8em;
    transition: background 0.3s ease;
}

footer section .navbar__list--link a {
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    color: var(--bg-light);
}

footer section .navbar__list--link:hover {
    background-color: var(--primary);
    color: inherit;
}

footer .copy {
    margin-top: 2rem;
    color: var(--bg-light);
    text-align: center;
    font-size: 1.8em;
}

/* ANIMATIONS */

@keyframes rotate {
    0% {
        transform: rotate(20deg);
    }
    15% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(0deg);
    }
    45% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}