
/* BANNER */

.banner {
    display: flex;
    align-items: center;
    padding: 8rem 0;
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner .banner__title {
    font-size: 6.5em;
    line-height: 100px;
    color: var(--primary);
    font-family: var(--titan);
    font-weight: 500;
    flex-basis: 60%;
}

/* SECTIONS */

.home-section {
    max-width: 80%;
    margin: 16rem auto;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.home-section p {
    color: var(--bg-dark);
    font-size: 2.8em;
    font-family: var(--roboto);
    text-align: center;
}

.home-section a {
    color: var(--bg-dark);
    font-size: 2.2em;
    font-family: var(--roboto);
    text-align: center;
    padding: 2rem;
    transition: all .5s ease;
}

.home-section a:hover {
    color: var(--primary);
    animation: rotate linear .8s 1;
}

/* LAST TRAVELS */

#last-travels {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 15rem;
}

#last-travels h2{
    flex: 0 0 100%;
    margin-bottom: 6rem;
}

#last-travels article{
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
}

.travels__card--horizontal {
    display: flex;
    gap: 3rem;
}

.travels__title {
    font-size: 3.2rem;
}

.travels__subtitle {
    font-size: 2rem;
    font-weight: 500;
    color: var(--accent);
    margin-bottom: 1rem;
}

.travels__text {
    font-size: 2rem;
    font-weight: 400;
    color: var(--text);
    margin-bottom: 2rem;
}

.travels__link {
    font-size: 2rem;
    font-weight: 400;
    color: var(--primary);
}


/* ANIMATIONS */

@keyframes rotate {
    0% {
        transform: rotate(20deg);
    }
    15% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(0deg);
    }
    45% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}