<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main id="not-found" class="container flex-col">
        <picture>
            <img src="./img/logo_dark.svg" alt="">
        </picture>
        <h1>
            Lo sentimos, no encontramos el destino solicitado 😢.
        </h1>
        <a href="/">VOLVER AL HOME</a>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>