<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main class="container">
        <h1>DESTINOS</h1>
        <section>
            <article class="travels__card travels__card--horizontal">
                <picture class="travels__img">
                    <img src="./img/buenos_aires.png" alt="">
                </picture>
                <div>
                    <h3 class="travels__title">Buenos Aires</h3>
                    <h4 class="travels__subtitle">Argentina</h4>
                    <p class="travels__text">Conocé esta ciudad mágica donde tanto la noche y las luces como su cultura y costumbres te atraparán. </p>
                    <a class="travels__link" href="#">Ver posteo</a>
                </div>
            </article>
            <article class="travels__card travels__card--horizontal">
                <picture class="travels__img">
                    <img src="./img/buenos_aires.png" alt="">
                </picture>
                <div>
                    <h3 class="travels__title">Buenos Aires</h3>
                    <h4 class="travels__subtitle">Argentina</h4>
                    <p class="travels__text">Conocé esta ciudad mágica donde tanto la noche y las luces como su cultura y costumbres te atraparán. </p>
                    <a class="travels__link" href="#">Ver posteo</a>
                </div>
            </article>
            <article class="travels__card travels__card--horizontal">
                <picture class="travels__img">
                    <img src="./img/buenos_aires.png" alt="">
                </picture>
                <div>
                    <h3 class="travels__title">Buenos Aires</h3>
                    <h4 class="travels__subtitle">Argentina</h4>
                    <p class="travels__text">Conocé esta ciudad mágica donde tanto la noche y las luces como su cultura y costumbres te atraparán. </p>
                    <a class="travels__link" href="#">Ver posteo</a>
                </div>
            </article>
            <article class="travels__card travels__card--horizontal">
                <picture class="travels__img">
                    <img src="./img/buenos_aires.png" alt="">
                </picture>
                <div>
                    <h3 class="travels__title">Buenos Aires</h3>
                    <h4 class="travels__subtitle">Argentina</h4>
                    <p class="travels__text">Conocé esta ciudad mágica donde tanto la noche y las luces como su cultura y costumbres te atraparán. </p>
                    <a class="travels__link" href="#">Ver posteo</a>
                </div>
            </article>
            <article class="travels__card travels__card--horizontal">
                <picture class="travels__img">
                    <img src="./img/buenos_aires.png" alt="">
                </picture>
                <div>
                    <h3 class="travels__title">Buenos Aires</h3>
                    <h4 class="travels__subtitle">Argentina</h4>
                    <p class="travels__text">Conocé esta ciudad mágica donde tanto la noche y las luces como su cultura y costumbres te atraparán. </p>
                    <a class="travels__link" href="#">Ver posteo</a>
                </div>
            </article>
            <article class="travels__card travels__card--horizontal">
                <picture class="travels__img">
                    <img src="./img/buenos_aires.png" alt="">
                </picture>
                <div>
                    <h3 class="travels__title">Buenos Aires</h3>
                    <h4 class="travels__subtitle">Argentina</h4>
                    <p class="travels__text">Conocé esta ciudad mágica donde tanto la noche y las luces como su cultura y costumbres te atraparán. </p>
                    <a class="travels__link" href="#">Ver posteo</a>
                </div>
            </article>
            <article class="travels__card travels__card--horizontal">
                <picture class="travels__img">
                    <img src="./img/buenos_aires.png" alt="">
                </picture>
                <div>
                    <h3 class="travels__title">Buenos Aires</h3>
                    <h4 class="travels__subtitle">Argentina</h4>
                    <p class="travels__text">Conocé esta ciudad mágica donde tanto la noche y las luces como su cultura y costumbres te atraparán. </p>
                    <a class="travels__link" href="#">Ver posteo</a>
                </div>
            </article>
            <article class="travels__card travels__card--horizontal">
                <picture class="travels__img">
                    <img src="./img/buenos_aires.png" alt="">
                </picture>
                <div>
                    <h3 class="travels__title">Buenos Aires</h3>
                    <h4 class="travels__subtitle">Argentina</h4>
                    <p class="travels__text">Conocé esta ciudad mágica donde tanto la noche y las luces como su cultura y costumbres te atraparán. </p>
                    <a class="travels__link" href="#">Ver posteo</a>
                </div>
            </article>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>