<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main class="container">
        <section id="banner" class="banner">
            <h1 class="banner__title">Viajemos juntos por el mundo y descubrí lugares soñados.</h1>
        </section>
        <section id="blog" class="home-section">
            <h2 class="text-right section-title">Blog</h2>
            <p>Encontra en nuestro blog toda la información sobre viajes a través del globo. Si te gusta viajar, conocer el mundo y todo lo que ofrece seguro te va a encantar.</p>
            <a href="#">IR AL BLOG</a>
        </section>
        <section id="tips" class="home-section">
            <h2 class="section-title">Travel Tips</h2>
            <p>Encontra en nuestro blog toda la información sobre viajes a través del globo. Si te gusta viajar, conocer el mundo y todo lo que ofrece seguro te va a encantar.</p>
            <a href="#">VER LOS TIPS</a>
        </section>
        <section id="last-travels" class="last-travels">
            <h2 class="section-title">Últimos Destinos</h2>
            <article class="travels__card">
                <picture class="travels__img">
                    <img src="./img/buenos_aires.png" alt="">
                </picture>
                <div>
                    <h3 class="travels__title">Buenos Aires</h3>
                <h4 class="travels__subtitle">Argentina</h4>
                <p class="travels__text">Conocé esta ciudad mágica donde tanto la noche y las luces como su cultura y costumbres te atraparán. </p>
                <a class="travels__link" href="#">Ver posteo</a>
                </div>
            </article>
            <article class="travels__card">
                <picture class="travels__img">
                    <img src="./img/buenos_aires.png" alt="">
                </picture>
                <div>
                    <h3 class="travels__title">Buenos Aires</h3>
                <h4 class="travels__subtitle">Argentina</h4>
                <p class="travels__text">Conocé esta ciudad mágica donde tanto la noche y las luces como su cultura y costumbres te atraparán. </p>
                <a class="travels__link" href="#">Ver posteo</a>
                </div>
            </article>
            <article class="travels__card">
                <picture class="travels__img">
                    <img src="./img/buenos_aires.png" alt="">
                </picture>
                <div>
                    <h3 class="travels__title">Buenos Aires</h3>
                <h4 class="travels__subtitle">Argentina</h4>
                <p class="travels__text">Conocé esta ciudad mágica donde tanto la noche y las luces como su cultura y costumbres te atraparán. </p>
                <a class="travels__link" href="#">Ver posteo</a>
                </div>
            </article>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>