<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main id="post" class="container flex-col post">
        <div class="post__data flex-col">
            <p class="post__date">10/11/2022</p>
            <p class="post__category">Destino o Categoria</p>
        </div>
        <picture class="post__picture">
            <img src="./img/norway.jpg" alt="">
        </picture>
        <article class="post__article flex-col">
            <h1 class="post__title">Título</h1>
            <p class="post__description">description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet culpa laudantium laborum repudiandae, quis, velit quidem distinctio quos quibusdam tenetur ad aperiam omnis voluptatem hic cumque in nobis! Error, quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, iure. Assumenda impedit harum fugit voluptas nisi unde voluptatem quae nulla temporibus, qui pariatur? Vel, labore officia minima ea facere animi!</p>
            <p class="post__description">description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet culpa laudantium laborum repudiandae, quis, velit quidem distinctio quos quibusdam tenetur ad aperiam omnis voluptatem hic cumque in nobis! Error, quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, iure. Assumenda impedit harum fugit voluptas nisi unde voluptatem quae nulla temporibus, qui pariatur? Vel, labore officia minima ea facere animi!</p>
            <p class="post__description">description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet culpa laudantium laborum repudiandae, quis, velit quidem distinctio quos quibusdam tenetur ad aperiam omnis voluptatem hic cumque in nobis! Error, quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, iure. Assumenda impedit harum fugit voluptas nisi unde voluptatem quae nulla temporibus, qui pariatur? Vel, labore officia minima ea facere animi!</p>
        </article>
        
    </main>
    <%- include('./partials/footer') %>
</body>
</html>