<footer>
    <section>
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__list--link"><a href="#">HOME</a></li>
                <li class="navbar__list--link"><a href="#">BLOG</a></li>
                <li class="navbar__list--link"><a href="#">CONTACTO</a></li>
                <li class="navbar__list--link"><a href="#">INGRESAR</a></li>
            </ul>
        </nav>
        <picture>
            <img src="./img/logo_light_vertical.svg" alt="Isotipo de la marca Travellando">
        </picture>
    </section>
    <p class="copy">All rights reserved 2022 - Travellando &copy;</p>
</footer>