<header>
    <nav class="navbar container">
        <picture class="navbar__logo">
            <img class="navbar__img" src="./img/logo_light.svg" alt="Logo de Travellando">
        </picture>
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a class="navbar__link" href="/">HOME</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/blog">BLOG</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/contact">CONTACTO</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/login"><img src="./img/monster-icon.svg" alt="Icono de mounstruo para el login"></a>
            </li>
        </ul>
    </nav>
</header>